In [1]:
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

## Data preparation

### Definitions

In [2]:
# dictionary definitions

data_dic = {0: "blds_continent_data_18-23_ai.json",
            1: "blds_africa_states_18-23_ai.json",
            2: "blds_northamerica_states_18-23_ai.json",
            3: "blds_europe_states_18-23_ai.json",
            4: "blds_asia_states_18-23_ai.json",}
geojson_folder_dic = {0: "geojson-continent-states",
                      1: "geojson-africa-states",
                      2: "geojson-northamerica-states",
                      3: "geojson-europe-states",
                      4: "geojson-asia-states",}

In [3]:
# user input definition

while True:
    try:
        user_d_spec = int(input("Which data do you want to plot?\
                            Enter 0 for stats by continents (2018–2023),\
                            1 for stats by Africa states (2018–2023),\
                            2 for stats by North-Central America states (2018–2023),\
                            3 for stats by Europe states (2018–2023),\
                            4 for stats by Asia states (2018–2023):"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_d_spec not in range(len(data_dic)):
        print("Please enter 0, 1, 2, 3 or 4.")
        continue
    break

In [4]:
# function definitions

def data_spec(data_dic):
    
    with open(f"downloaded-data\\{data_dic[user_d_spec]}", "r") as f:
        data = json.load(f)
    return data


def get_geojson_names(home_dir, geojson_folder_dic):
    geojson_dir = os.path.join(home_dir, geojson_folder_dic[user_d_spec], "")

    geojson_names = []
    for (dir_path, dir_names, file_names) in os.walk(geojson_dir):  # give the path
        geojson_names.extend(file_names)
    print(geojson_names)
    return geojson_names

### Load the data

In [5]:
os.chdir('..')

data = data_spec(data_dic)

home_dir = os.getcwd()

### Edit the obtained data into desired shape to create a DataFrame

In [6]:
d = {
    "feature": [],
    "source": [],
    "timestamp": [],
    "value": []
}

In [7]:
for cont in data:
    for dic1 in cont:
        feature, source = dic1["groupByObject"][0], dic1["groupByObject"][1]
        for res in dic1["result"]:
            d["feature"].append(feature)
            d["source"].append(source)
            d["timestamp"].append(res["timestamp"])
            d["value"].append(res["value"])

df = pd.DataFrame(d)
# df

In [8]:
# extract only the year
df["year"] = pd.to_datetime(df["timestamp"]).dt.year

### Append the names of the regions to the DataFrame

In [9]:
# extract the geojson IDs and the names
geojson_names = get_geojson_names(home_dir, geojson_folder_dic)

['0_Ethiopia.geojson', '10_Democratic Republic of the Congo.geojson', '11_Namibia.geojson', '12_South Africa.geojson', '13_Libya.geojson', '14_Tunisia.geojson', '15_Zambia.geojson', '16_Sierra Leone.geojson', '17_Guinea.geojson', '18_Liberia.geojson', '19_Central African Republic.geojson', '1_South Sudan.geojson', '20_Sudan.geojson', '21_Djibouti.geojson', '22_Eritrea.geojson', '23_Ivory Coast.geojson', '24_Mali.geojson', '25_Senegal.geojson', '26_Nigeria.geojson', '27_Benin.geojson', '28_Angola.geojson', '29_Botswana.geojson', '2_Somalia.geojson', '30_Zimbabwe.geojson', '31_Chad.geojson', '32_Algeria.geojson', '33_Mozambique.geojson', '34_Eswatini.geojson', '35_Burundi.geojson', '36_Rwanda.geojson', '37_Uganda.geojson', '38_Lesotho.geojson', '39_Cameroon.geojson', '3_Kenya.geojson', '40_Gabon.geojson', '41_Niger.geojson', '42_Burkina Faso.geojson', '43_Togo.geojson', '44_Ghana.geojson', '45_Guinea-Bissau.geojson', '46_Egypt.geojson', '47_Mauritania.geojson', '48_Equatorial Guinea.geojson', '49_The Gambia.geojson', '4_Malawi.geojson', '50_Bir Tawil.geojson', '51_Madagascar.geojson', '52_Comoros.geojson', '53_São Tomé and Príncipe.geojson', '54_Cape Verde.geojson', '5_Tanzania.geojson', '6_Somaliland.geojson', '7_Morocco.geojson', '8_Western Sahara.geojson', '9_Republic of the Congo.geojson']

In [10]:
geojson_names_2 = geojson_names

id_name_dic = {int(re.search(r'^\d+', k)[0]): re.search(r'\_.+\.', v)[0][1:-1] # using lib RegularExpression to separate the ID number and the state name
                for k, v in zip(geojson_names, geojson_names_2)}
id_name_ser = pd.Series(id_name_dic)
id_name_df = pd.DataFrame(id_name_ser, columns=["name"])
id_name_df = id_name_df.reset_index().rename(columns={"index": "id"})
id_name_df["id"] = id_name_df["id"].astype(int)
# id_name_df

In [11]:
# merge df with region names based on IDs
df = df.merge(id_name_df, how="left", left_on="feature",
               right_on="id")
# df.head(20)

In [12]:
df

,feature,source,timestamp,value,year,id,name
0,0,remainder,2018-01-01T00:00:00Z,284919.0,2018,0.0,Ethiopia
1,0,remainder,2019-01-01T00:00:00Z,350579.0,2019,0.0,Ethiopia
2,0,remainder,2020-01-01T00:00:00Z,395155.0,2020,0.0,Ethiopia
3,0,remainder,2021-01-01T00:00:00Z,470680.0,2021,0.0,Ethiopia
4,0,remainder,2022-01-01T00:00:00Z,629701.0,2022,0.0,Ethiopia
...,...,...,...,...,...,...,...
655,9,source=microsoft/BuildingFootprints,2019-01-01T00:00:00Z,0.0,2019,9.0,Republic of the Congo
656,9,source=microsoft/BuildingFootprints,2020-01-01T00:00:00Z,0.0,2020,9.0,Republic of the Congo
657,9,source=microsoft/BuildingFootprints,2021-01-01T00:00:00Z,0.0,2021,9.0,Republic of the Congo
658,9,source=microsoft/BuildingFootprints,2022-01-01T00:00:00Z,0.0,2022,9.0,Republic of the Congo
659,9,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,33.0,2023,9.0,Republic of the Congo

### Filtering the data

In [13]:
# get the number of AI Microsoft (source=microsoft/BuildingFootprints) / manually mapped (remainder) buildings for every year
grouped = df.groupby(["source", "year"])["value"].sum()
# grouped

In [14]:
grouped

source                               year
remainder                            2018    28793553.0
                                     2019    43530237.0
                                     2020    53601135.0
                                     2021    66684246.0
                                     2022    79452442.0
                                     2023    92110091.0
source=microsoft/BuildingFootprints  2018           0.0
                                     2019           0.0
                                     2020           0.0
                                     2021      219684.0
                                     2022      270325.0
                                     2023     2593774.0
Name: value, dtype: float64

In [15]:
# merge the DataFrame with groupBy DataFrame and compute the percentage
merged_data = df.merge(grouped, on=["source", 'year'], how='left', )
merged_data = merged_data.rename(columns={"value_x":"num_of_blds", "value_y":"total_blds"})
merged_data["percentage"] = (merged_data["num_of_blds"] / merged_data["total_blds"]) * 100
# merged_data.head(10)

In [16]:
# percentage verification
merged_data.groupby(["source", "year"])["percentage"].sum()

source                               year
remainder                            2018    100.0
                                     2019    100.0
                                     2020    100.0
                                     2021    100.0
                                     2022    100.0
                                     2023    100.0
source=microsoft/BuildingFootprints  2018      0.0
                                     2019      0.0
                                     2020      0.0
                                     2021    100.0
                                     2022    100.0
                                     2023    100.0
Name: percentage, dtype: float64

In [19]:
merged_data.loc[merged_data["year"] == 2023, :]

,feature,source,timestamp,num_of_blds,year,id,name,total_blds,percentage
5,0,remainder,2023-01-01T00:00:00Z,753591.0,2023,0.0,Ethiopia,92110091.0,0.818142
11,0,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,6327.0,2023,0.0,Ethiopia,2593774.0,0.243930
17,10,remainder,2023-01-01T00:00:00Z,6533518.0,2023,10.0,Democratic Republic of the Congo,92110091.0,7.093162
23,10,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,23080.0,2023,10.0,Democratic Republic of the Congo,2593774.0,0.889823
29,11,remainder,2023-01-01T00:00:00Z,325854.0,2023,11.0,Namibia,92110091.0,0.353766
...,...,...,...,...,...,...,...,...,...
635,7,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,49025.0,2023,7.0,Morocco,2593774.0,1.890103
641,8,remainder,2023-01-01T00:00:00Z,1719.0,2023,8.0,Western Sahara,92110091.0,0.001866
647,8,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,0.0,2023,8.0,Western Sahara,2593774.0,0.000000
653,9,remainder,2023-01-01T00:00:00Z,584115.0,2023,9.0,Republic of the Congo,92110091.0,0.634149
659,9,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,33.0,2023,9.0,Republic of the Congo,2593774.0,0.001272