In [1]:

import os
import json
import pandas as pd
import geopandas as gpd
import re
import numpy as np

### Definitions

In [2]:
# dictionary definitions

json_data_dic = {0: "blds_continent_data_18-23_ai.json",
            1: "blds_africa_states_18-23_ai.json",
            2: "blds_northamerica_states_18-23_ai.json",
            3: "blds_europe_states_18-23_ai.json",
            4: "blds_asia_states_18-23_ai.json",
            
            }

shp_dic = {0: "contionents-borders.shp",
                      1: "africa-states-borders.shp",
                      2: "northamerica-states-borders.shp",
                      3: "europe-states-borders.shp",
                      4: "asia-states-borders.shp",}

geojson_folder_dic = {0: "geojson-continent-states",
                      1: "geojson-africa-states",
                      2: "geojson-northamerica-states",
                      3: "geojson-europe-states",
                      4: "geojson-asia-states",}

In [3]:
# user input definition - json data

while True:
    try:
        user_json_spec = int(input("Which data do you want to join?\
                            Enter 0 for blds by continents (2018–2023),\
                            1 for blds by Africa states (2018–2023),\
                            2 for blds by North-Central America states (2018–2023),\
                            3 for blds by Europe states (2018–2023),\
                            4 for blds by Asia states (2018–2023),\
                                :"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_json_spec not in range(len(json_data_dic)):
        print(f"Please enter one of these numbers: {json_data_dic.keys()}.")
        continue
    break

In [4]:
# user input definition - spatial data to conect

while True:
    try:
        user_spatial = int(input("Which data do you want to plot?\
                            Enter 0 for stats by continents (2018–2023),\
                            1 for stats by Africa states (2018–2023),\
                            2 for stats by North-Central America states (2018–2023),\
                            3 for stats by Europe states (2018–2023),\
                            4 for stats by Asia states (2018–2023):"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_spatial not in range(len(shp_dic)):
        print(f"Please enter one of these numbers: {shp_dic.keys()}.")
        continue
    break

#### Read the downloaded/nonspatial and spatial data

In [5]:

os.chdir('..')
home_dir = os.getcwd()
ns_d_path = os.path.join(home_dir, "downloaded-data", "")
s_d_path = os.path.join(home_dir, "shp", "")

In [6]:
# replace... blds_continents_data_18-23_ai.json; blds_africa_states_18-23_ai.json; blds_northamerica_states_18-23_ai.json
with open(f"{ns_d_path}{json_data_dic[user_json_spec]}", "r") as f:
    ns_d = json.load(f)
# ns_d

In [7]:
ns_d

[[{'groupByObject': [0, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 284919.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 350579.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 395155.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 470680.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 629701.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 753591.0}]},
  {'groupByObject': [0, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 6327.0}]}],
 [{'groupByObject': [10, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 1361613.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 2325784.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 2926551.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 3416401.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 5579524.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 6533518.0}]},
  {'groupByObject': [10, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 395.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 23080.0}]}],
 [{'groupByObject': [11, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 85410.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 96283.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 131608.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 228503.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 306020.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 325854.0}]},
  {'groupByObject': [11, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 98.0}]}],
 [{'groupByObject': [12, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 381843.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 466331.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 534224.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 697341.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 826183.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1605467.0}]},
  {'groupByObject': [12, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 8219.0}]}],
 [{'groupByObject': [13, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 25159.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 32954.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 36037.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 84233.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 420984.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 755690.0}]},
  {'groupByObject': [13, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 15840.0}]}],
 [{'groupByObject': [14, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 67609.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 80368.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 243233.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 347658.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 470534.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 496152.0}]},
  {'groupByObject': [14, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 551.0}]}],
 [{'groupByObject': [15, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 1213354.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 2593924.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 3078470.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 3451296.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 4585988.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 4996208.0}]},
  {'groupByObject': [15, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 159932.0}]}],
 [{'groupByObject': [16, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 518315.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 537645.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 549645.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 589373.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 611258.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 641532.0}]},
  {'groupByObject': [16, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 0.0}]}],
 [{'groupByObject': [17, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 586011.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 716902.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 1204778.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1329518.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1542047.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1656336.0}]},
  {'groupByObject': [17, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 107.0}]}],
 [{'groupByObject': [18, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 376253.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 420866.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 641502.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 658750.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 675147.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 705667.0}]},
  {'groupByObject': [18, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 2063.0}]}],
 [{'groupByObject': [19, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 414947.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 425769.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 565896.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 767304.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 769115.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 770971.0}]},
  {'groupByObject': [19, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 144.0}]}],
 [{'groupByObject': [1, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 1007356.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 1025617.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 1042953.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1221037.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1653908.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1788605.0}]},
  {'groupByObject': [1, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 0.0}]}],
 [{'groupByObject': [20, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 90216.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 111085.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 120021.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 223580.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 350520.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 543906.0}]},
  {'groupByObject': [20, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 100035.0}]}],
 [{'groupByObject': [21, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 7248.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 8801.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 43395.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 137775.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 138876.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 139282.0}]},
  {'groupByObject': [21, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 0.0}]}],
 [{'groupByObject': [22, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 9780.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 14026.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 14468.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 18858.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 25505.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 32087.0}]},
  {'groupByObject': [22, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 52.0}]}],
 [{'groupByObject': [23, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 182007.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 373852.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 439353.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 718572.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 754140.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 820144.0}]},
  {'groupByObject': [23, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 104.0}]}],
 [{'groupByObject': [24, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 1235248.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 1600476.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 1748060.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 2162422.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 2385893.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 2604312.0}]},
  {'groupByObject': [24, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 463.0}]}],
 [{'groupByObject': [25, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 275392.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 355593.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 423510.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 754198.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 825038.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1001839.0}]},
  {'groupByObject': [25, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1822.0}]}],
 [{'groupByObject': [26, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 719494.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 1525839.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 2649368.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 5649347.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 7238481.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 9487950.0}]},
  {'groupByObject': [26, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 27.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1055014.0}]}],
 [{'groupByObject': [27, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 451785.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 555485.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 625051.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 698343.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 764288.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 829118.0}]},
  {'groupByObject': [27, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 439.0}]}],
 [{'groupByObject': [28, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 216746.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 291690.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 339930.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 523444.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 551655.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 581052.0}]},
  {'groupByObject': [28, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 513.0}]}],
 [{'groupByObject': [29, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 603602.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 640720.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 652121.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1399606.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1528268.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1542318.0}]},
  {'groupByObject': [29, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 9.0}]}],
 [{'groupByObject': [2, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 42642.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 101067.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 150890.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 174338.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 357272.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 719011.0}]},
  {'groupByObject': [2, 'source=microsoft/BuildingFootprints'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 0.0}]}],
 [{'groupByObject': [30, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 3423193.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 3481873.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 3668184.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 3696191.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 3809584.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 3869856.0}]},
  {'groupByObject': [30, 'source=microsoft/BuildingFootprints'],

In [8]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [9]:

# change name of the layer - africa-states-borders.shp; northamerica-states-borders.shp

s_df = gpd.read_file(f"{s_d_path}{shp_dic[user_spatial]}")
# s_df["s_id"] = s_df.index
s_df.head()

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ..."
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ..."
2,Somalia,2,Sovereign country,Somalia,Somalia,Africa,Somalia,"POLYGON ((46.46696 6.53829, 46.48805 6.55864, ..."
3,Kenya,2,Sovereign country,Kenya,Kenya,Africa,Kenya,"MULTIPOLYGON (((35.70585 4.61945, 35.70594 4.6..."
4,Malawi,2,Sovereign country,Malawi,Malawi,Africa,Malawi,"MULTIPOLYGON (((34.96461 -11.57356, 34.65125 -..."

#### Edit the obtained data into desired shape to create a DataFrame

In [10]:
d = {
    "feature": [],
    "source": [],
    "timestamp": [],
    "value": []
}

In [11]:
for region in ns_d:
    for dic1 in region:
        feature, source = dic1["groupByObject"][0], dic1["groupByObject"][1]
        for res in dic1["result"]:
            d["feature"].append(feature)
            d["source"].append(source)
            d["timestamp"].append(res["timestamp"])
            d["value"].append(res["value"])

ns_df = pd.DataFrame(d)
# ns_df

In [12]:
# extract only the year
ns_df["year"] = pd.to_datetime(ns_df["timestamp"]).dt.year

In [13]:
ns_df

,feature,source,timestamp,value,year
0,0,remainder,2018-01-01T00:00:00Z,284919.0,2018
1,0,remainder,2019-01-01T00:00:00Z,350579.0,2019
2,0,remainder,2020-01-01T00:00:00Z,395155.0,2020
3,0,remainder,2021-01-01T00:00:00Z,470680.0,2021
4,0,remainder,2022-01-01T00:00:00Z,629701.0,2022
...,...,...,...,...,...
655,9,source=microsoft/BuildingFootprints,2019-01-01T00:00:00Z,0.0,2019
656,9,source=microsoft/BuildingFootprints,2020-01-01T00:00:00Z,0.0,2020
657,9,source=microsoft/BuildingFootprints,2021-01-01T00:00:00Z,0.0,2021
658,9,source=microsoft/BuildingFootprints,2022-01-01T00:00:00Z,0.0,2022
659,9,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,33.0,2023

#### Append the names of the regions and numbers to the DataFrame

In [14]:

# replace... geojson-continent-borders, geojson-africa-states; geojson-northamerica-states
geojson_dir = os.path.join(home_dir, f"{geojson_folder_dic[user_spatial]}", "")

geojson_names = []
for (dir_path, dir_names, file_names) in os.walk(geojson_dir):  # give the path
    geojson_names.extend(file_names)
print(geojson_names)
print(os.getcwd())

['0_Ethiopia.geojson', '10_Democratic Republic of the Congo.geojson', '11_Namibia.geojson', '12_South Africa.geojson', '13_Libya.geojson', '14_Tunisia.geojson', '15_Zambia.geojson', '16_Sierra Leone.geojson', '17_Guinea.geojson', '18_Liberia.geojson', '19_Central African Republic.geojson', '1_South Sudan.geojson', '20_Sudan.geojson', '21_Djibouti.geojson', '22_Eritrea.geojson', '23_Ivory Coast.geojson', '24_Mali.geojson', '25_Senegal.geojson', '26_Nigeria.geojson', '27_Benin.geojson', '28_Angola.geojson', '29_Botswana.geojson', '2_Somalia.geojson', '30_Zimbabwe.geojson', '31_Chad.geojson', '32_Algeria.geojson', '33_Mozambique.geojson', '34_Eswatini.geojson', '35_Burundi.geojson', '36_Rwanda.geojson', '37_Uganda.geojson', '38_Lesotho.geojson', '39_Cameroon.geojson', '3_Kenya.geojson', '40_Gabon.geojson', '41_Niger.geojson', '42_Burkina Faso.geojson', '43_Togo.geojson', '44_Ghana.geojson', '45_Guinea-Bissau.geojson', '46_Egypt.geojson', '47_Mauritania.geojson', '48_Equatorial Guinea.geojson', '49_The Gambia.geojson', '4_Malawi.geojson', '50_Bir Tawil.geojson', '51_Madagascar.geojson', '52_Comoros.geojson', '53_São Tomé and Príncipe.geojson', '54_Cape Verde.geojson', '5_Tanzania.geojson', '6_Somaliland.geojson', '7_Morocco.geojson', '8_Western Sahara.geojson', '9_Republic of the Congo.geojson']
c:\Users\milan\OneDrive - MUNI\VŠ\PhD\Zahraniční stáž\Work\HeiGIT_notebooks\analysis\ai-assisted-osm-mapping-stats

In [15]:
geojson_names_2 = geojson_names

id_name_dic = {int(re.search(r'^\d+', k)[0]): re.search(r'\_.+\.', v)[0][1:-1]
                for k, v in zip(geojson_names, geojson_names_2)}
id_name_ser = pd.Series(id_name_dic)
id_name_df = pd.DataFrame(id_name_ser, columns=["name"])
id_name_df = id_name_df.reset_index().rename(columns={"index": "id"})
id_name_df["id"] = id_name_df["id"].astype(int)
# id_name_df

In [16]:
id_name_df

    id                              name
0    0                          Ethiopia
1   10  Democratic Republic of the Congo
2   11                           Namibia
3   12                      South Africa
4   13                             Libya
5   14                           Tunisia
6   15                            Zambia
7   16                      Sierra Leone
8   17                            Guinea
9   18                           Liberia
10  19          Central African Republic
11   1                       South Sudan
12  20                             Sudan
13  21                          Djibouti
14  22                           Eritrea
15  23                       Ivory Coast
16  24                              Mali
17  25                           Senegal
18  26                           Nigeria
19  27                             Benin
20  28                            Angola
21  29                          Botswana
22   2                           Somalia
23  30                          Zimbabwe
24  31                              Chad
25  32                           Algeria
26  33                        Mozambique
27  34                          Eswatini
28  35                           Burundi
29  36                            Rwanda
30  37                            Uganda
31  38                           Lesotho
32  39                          Cameroon
33   3                             Kenya
34  40                             Gabon
35  41                             Niger
36  42                      Burkina Faso
37  43                              Togo
38  44                             Ghana
39  45                     Guinea-Bissau
40  46                             Egypt
41  47                        Mauritania
42  48                 Equatorial Guinea
43  49                        The Gambia
44   4                            Malawi
45  50                         Bir Tawil
46  51                        Madagascar
47  52                           Comoros
48  53             São Tomé and Príncipe
49  54                        Cape Verde
50   5                          Tanzania
51   6                        Somaliland
52   7                           Morocco
53   8                    Western Sahara
54   9             Republic of the Congo

In [17]:
# merge df with region names based on ids
ns_df = ns_df.merge(id_name_df, how="left", left_on="feature",
               right_on="id")
ns_df.head(20)

,feature,source,timestamp,value,year,id,name
0,0,remainder,2018-01-01T00:00:00Z,284919.0,2018,0,Ethiopia
1,0,remainder,2019-01-01T00:00:00Z,350579.0,2019,0,Ethiopia
2,0,remainder,2020-01-01T00:00:00Z,395155.0,2020,0,Ethiopia
3,0,remainder,2021-01-01T00:00:00Z,470680.0,2021,0,Ethiopia
4,0,remainder,2022-01-01T00:00:00Z,629701.0,2022,0,Ethiopia
5,0,remainder,2023-01-01T00:00:00Z,753591.0,2023,0,Ethiopia
6,0,source=microsoft/BuildingFootprints,2018-01-01T00:00:00Z,0.0,2018,0,Ethiopia
7,0,source=microsoft/BuildingFootprints,2019-01-01T00:00:00Z,0.0,2019,0,Ethiopia
8,0,source=microsoft/BuildingFootprints,2020-01-01T00:00:00Z,0.0,2020,0,Ethiopia
9,0,source=microsoft/BuildingFootprints,2021-01-01T00:00:00Z,0.0,2021,0,Ethiopia
10,0,source=microsoft/BuildingFootprints,2022-01-01T00:00:00Z,0.0,2022,0,Ethiopia
11,0,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,6327.0,2023,0,Ethiopia
12,10,remainder,2018-01-01T00:00:00Z,1361613.0,2018,10,Democratic Republic of the Congo
13,10,remainder,2019-01-01T00:00:00Z,2325784.0,2019,10,Democratic Republic of the Congo
14,10,remainder,2020-01-01T00:00:00Z,2926551.0,2020,10,Democratic Republic of the Congo
15,10,remainder,2021-01-01T00:00:00Z,3416401.0,2021,10,Democratic Republic of the Congo
16,10,remainder,2022-01-01T00:00:00Z,5579524.0,2022,10,Democratic Republic of the Congo
17,10,remainder,2023-01-01T00:00:00Z,6533518.0,2023,10,Democratic Republic of the Congo
18,10,source=microsoft/BuildingFootprints,2018-01-01T00:00:00Z,0.0,2018,10,Democratic Republic of the Congo
19,10,source=microsoft/BuildingFootprints,2019-01-01T00:00:00Z,0.0,2019,10,Democratic Republic of the Congo

In [18]:
ns_df.loc[ns_df.isna().any(axis=1),:]

Empty DataFrame
Columns: [feature, source, timestamp, value, year, id, name]
Index: []

In [19]:
# ns_df.sort_values(by=["value"], ascending=False, inplace=False).head(20)

#### Data preparation and filtering

In [20]:
ns_df

,feature,source,timestamp,value,year,id,name
0,0,remainder,2018-01-01T00:00:00Z,284919.0,2018,0,Ethiopia
1,0,remainder,2019-01-01T00:00:00Z,350579.0,2019,0,Ethiopia
2,0,remainder,2020-01-01T00:00:00Z,395155.0,2020,0,Ethiopia
3,0,remainder,2021-01-01T00:00:00Z,470680.0,2021,0,Ethiopia
4,0,remainder,2022-01-01T00:00:00Z,629701.0,2022,0,Ethiopia
...,...,...,...,...,...,...,...
655,9,source=microsoft/BuildingFootprints,2019-01-01T00:00:00Z,0.0,2019,9,Republic of the Congo
656,9,source=microsoft/BuildingFootprints,2020-01-01T00:00:00Z,0.0,2020,9,Republic of the Congo
657,9,source=microsoft/BuildingFootprints,2021-01-01T00:00:00Z,0.0,2021,9,Republic of the Congo
658,9,source=microsoft/BuildingFootprints,2022-01-01T00:00:00Z,0.0,2022,9,Republic of the Congo
659,9,source=microsoft/BuildingFootprints,2023-01-01T00:00:00Z,33.0,2023,9,Republic of the Congo

In [21]:
# get the number of AI Microsoft (source=microsoft/BuildingFootprints) / manually mapped (remainder) buildings for every year
grouped = ns_df.groupby(["name", "year"])["value"].sum()
# grouped

In [22]:
grouped

name      year
Algeria   2018     261826.0
          2019     365631.0
          2020     404078.0
          2021     428225.0
          2022     538250.0
                    ...
Zimbabwe  2019    3481873.0
          2020    3668184.0
          2021    3696191.0
          2022    3809584.0
          2023    3869906.0
Name: value, Length: 330, dtype: float64

In [23]:
# merge the DataFrame with groupBy DataFrame and compute the percentage
merged_data = ns_df.merge(grouped, on=["name", 'year'], how='left', )
merged_data = merged_data.rename(columns={"value_x":"num_of_blds", "value_y":"total_blds"})
merged_data["percentage"] = (merged_data["num_of_blds"] / merged_data["total_blds"]) * 100
# merged_data.head(10)

In [24]:
# percentage verification
merged_data.groupby(["name", "year"])["percentage"].sum()

name      year
Algeria   2018    100.0
          2019    100.0
          2020    100.0
          2021    100.0
          2022    100.0
                  ...
Zimbabwe  2019    100.0
          2020    100.0
          2021    100.0
          2022    100.0
          2023    100.0
Name: percentage, Length: 330, dtype: float64

In [25]:
ns_df_rem = merged_data.loc[merged_data["source"] == "remainder", :]
ns_df_ai = merged_data.loc[merged_data["source"] == "source=microsoft/BuildingFootprints", :]

In [26]:
ns_df_rem_sel = ns_df_rem.groupby("name")[["num_of_blds", "year", "percentage", "total_blds"]].last().reset_index()
ns_df_ai_sel = ns_df_ai.groupby("name")[["num_of_blds", "year", "percentage", "total_blds"]].last().reset_index()
ns_df_ai_sel.head()

        name  num_of_blds  year  percentage  total_blds
0    Algeria        539.0  2023    0.094237    571962.0
1     Angola        513.0  2023    0.088210    581565.0
2      Benin        439.0  2023    0.052920    829557.0
3  Bir Tawil          0.0  2023    0.000000         7.0
4   Botswana          9.0  2023    0.000584   1542327.0

In [27]:
ns_df_rem_sel.head()

        name  num_of_blds  year  percentage  total_blds
0    Algeria     571423.0  2023   99.905763    571962.0
1     Angola     581052.0  2023   99.911790    581565.0
2      Benin     829118.0  2023   99.947080    829557.0
3  Bir Tawil          7.0  2023  100.000000         7.0
4   Botswana    1542318.0  2023   99.999416   1542327.0

In [28]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [29]:
s_df.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ..."
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ..."

In [30]:
merged_d_rem = s_df.merge(ns_df_rem_sel, how="left",
                          left_on="NAME", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_ai = s_df.merge(ns_df_ai_sel, how="left",
                         left_on="NAME", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_rem.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,num_of_blds,year,percentage,total_blds
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ...",Ethiopia,753591.0,2023.0,99.16741,759918.0
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ...",NaN,NaN,NaN,NaN,NaN

In [31]:
# verify the merge is successful
merged_d_rem.loc[merged_d_rem.isna().any(axis=1),:]

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,num_of_blds,year,percentage,total_blds
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ...",NaN,NaN,NaN,NaN,NaN
8,Western Sahara,2,Indeterminate,Western Sahara,W. Sahara,Africa,Western Sahara,"POLYGON ((-8.81703 27.66146, -8.81654 27.66147...",NaN,NaN,NaN,NaN,NaN
9,Republic of the Congo,2,Sovereign country,Republic of the Congo,Congo,Africa,Republic of the Congo,"POLYGON ((18.62639 3.47687, 18.63455 3.44922, ...",NaN,NaN,NaN,NaN,NaN
10,Democratic Republic of the Congo,2,Sovereign country,Democratic Republic of the Congo,Dem. Rep. Congo,Africa,Democratic Republic of the Congo,"MULTIPOLYGON (((18.62639 3.47687, 18.59300 3.7...",NaN,NaN,NaN,NaN,NaN
19,Central African Republic,2,Sovereign country,Central African Republic,Central African Rep.,Africa,Central African Republic,"POLYGON ((22.86106 10.91915, 22.86323 10.89182...",NaN,NaN,NaN,NaN,NaN
23,Ivory Coast,2,Sovereign country,Ivory Coast,Côte d'Ivoire,Africa,Ivory Coast,"MULTIPOLYGON (((-7.98966 10.16199, -7.97090 10...",NaN,NaN,NaN,NaN,NaN
34,eSwatini,2,Sovereign country,eSwatini,eSwatini,Africa,Eswatini,"POLYGON ((31.94924 -25.95810, 31.97529 -25.980...",NaN,NaN,NaN,NaN,NaN
48,Equatorial Guinea,2,Sovereign country,Equatorial Guinea,Eq. Guinea,Africa,Equatorial Guinea,"MULTIPOLYGON (((9.79957 2.34174, 9.81106 2.324...",NaN,NaN,NaN,NaN,NaN
49,Gambia,2,Sovereign country,Gambia,Gambia,Africa,The Gambia,"POLYGON ((-16.75365 13.06501, -16.76887 13.077...",NaN,NaN,NaN,NaN,NaN
53,São Tomé and Principe,2,Sovereign country,São Tomé and Principe,São Tomé and Principe,Africa,São Tomé and Príncipe,"MULTIPOLYGON (((6.68141 0.40713, 6.70387 0.391...",NaN,NaN,NaN,NaN,NaN
54,Cabo Verde,2,Sovereign country,Cabo Verde,Cabo Verde,Africa,Cape Verde,"MULTIPOLYGON (((-24.70434 14.90082, -24.69310 ...",NaN,NaN,NaN,NaN,NaN

In [32]:
merged_d_ai.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,num_of_blds,year,percentage,total_blds
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ...",Ethiopia,6327.0,2023.0,0.83259,759918.0
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ...",NaN,NaN,NaN,NaN,NaN

In [33]:
print(merged_d_rem.columns)
print(merged_d_ai.columns)

Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'num_of_blds', 'year', 'percentage', 'total_blds'],
      dtype='object')
Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'num_of_blds', 'year', 'percentage', 'total_blds'],
      dtype='object')

#### Export the data into layers

In [34]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [35]:
# change name of the layer
# merged_d_rem.to_file(f"maps/shp/mm_blds_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

In [36]:
# change name of the layer
# merged_d_ai.to_file(f"maps/shp/ai_blds_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')