In [1]:
import os
import json
import pandas as pd
import geopandas as gpd
import re
import numpy as np

### Definitions

In [2]:
# dictionary definitions

json_data_dic = {
            0: "roads_continent_data_18-23_ai.json",
            1: "roads_africa_states_18-23_ai.json",
            2: "roads_northamerica_states_18-23_ai.json",
            3: "roads_europe_states_18-23_ai.json",
            4: "roads_asia_states_18-23_ai.json",
            }

shp_dic = {
            0: "contionents-borders.shp",
            1: "africa-states-borders.shp",
            2: "northamerica-states-borders.shp",
            3: "europe-states-borders.shp",
            4: "asia-states-borders.shp",
                      }

geojson_folder_dic = {
                    0: "geojson-continent-states",
                    1: "geojson-africa-states",
                    2: "geojson-northamerica-states",
                    3: "geojson-europe-states",
                    4: "geojson-asia-states",
                      }

In [3]:
# user input definition - json data

while True:
    try:
        user_json_spec = int(input("Which data do you want to join?\
                            Enter a number:\
                            0 for roads by continents (2018–2023),\
                            1 for roads by Africa states (2018–2023),\
                            2 for roads by North-Central America states (2018–2023),\
                            3 for roads by Europe states (2018–2023),\
                            4 for roads by Asia states (2018–2023),\
                                :"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_json_spec not in range(len(json_data_dic)):
        print(f"Please enter one of these numbers: {json_data_dic.keys()}.")
        continue
    break

In [4]:
# user input definition - spatial data to conect

while True:
    try:
        user_spatial = int(input("Which data do you want to plot?\
                            Enter 0 for stats by continents (2018–2023),\
                            1 for stats by Africa states (2018–2023),\
                            2 for stats by North-Central America states (2018–2023),\
                            3 for stats by Europe states (2018–2023),\
                            4 for stats by Asia states (2018–2023):"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_spatial not in range(len(shp_dic)):
        print(f"Please enter one of these numbers: {shp_dic.keys()}.")
        continue
    break

#### Read the downloaded/nonspatial and spatial data

In [5]:

os.chdir('..')
home_dir = os.getcwd()
ns_d_path = os.path.join(home_dir, "downloaded-data", "")
s_d_path = os.path.join(home_dir, "shp", "")

In [6]:
# replace... blds_continents_data_18-23_ai.json; blds_africa_states_18-23_ai.json; blds_northamerica_states_18-23_ai.json
with open(f"{ns_d_path}{json_data_dic[user_json_spec]}", "r") as f:
    ns_d = json.load(f)
# ns_d

In [7]:
ns_d

[[{'groupByObject': [0, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 412573538.52},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 729335700.28},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 1096717478.93},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1206910324.62},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1246753928.28},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1255846149.67}]},
  {'groupByObject': [0, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 8588.36},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 34164.54},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 2673150.37},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 3060945.91}]}],
 [{'groupByObject': [10, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 9869635.94},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 10869145.23},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 11872015.36},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 12224539.33},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 24163331.31},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 25305334.07}]},
  {'groupByObject': [10, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 8853.02},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 90723.13},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 164251.5}]}],
 [{'groupByObject': [11, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 61074682.51},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 66853997.32},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 71251061.16},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 73665680.95},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 86199137.72},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 88443600.63}]},
  {'groupByObject': [11, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 8364.55},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 8363.23},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 8771.1}]}],
 [{'groupByObject': [12, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 125293601.26},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 137770193.25},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 151097984.42},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 182405816.83},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 197191653.8},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 204161495.65}]},
  {'groupByObject': [12, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 247949.25},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 288103.36}]}],
 [{'groupByObject': [13, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 254023272.34},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 272851054.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 290200322.54},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 300666582.68},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 314658072.51},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 339800532.12}]},
  {'groupByObject': [13, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 22647.01},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 40607.93},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 81628.55}]}],
 [{'groupByObject': [14, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 32791216.6},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 36227183.34},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 42657339.71},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 54426327.11},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 60817437.76},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 63818268.35}]},
  {'groupByObject': [14, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 818.55},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 818.55},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 128212.05},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 158189.61}]}],
 [{'groupByObject': [15, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 96149500.05},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 126668767.37},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 131894653.92},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 140559123.2},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 150970659.63},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 155402500.99}]},
  {'groupByObject': [15, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 72116.26},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 107049.8},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 518583.19}]}],
 [{'groupByObject': [16, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 2770702592.25},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 2956748234.44},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 3151181248.89},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 3396344023.29},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 3551678985.49},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 3688887837.54}]},
  {'groupByObject': [16, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 60152.7},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 971121.16},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1776139.58},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 2065938.36}]}],
 [{'groupByObject': [17, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 148651085.57},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 174934084.36},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 207002238.33},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 444443100.04},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 525319563.88},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 530753282.86}]},
  {'groupByObject': [17, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 23098.23},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 52316917.73},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 113399063.78},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 113342138.01}]}],
 [{'groupByObject': [18, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 63766846.14},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 72662388.86},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 80837856.02},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 88533295.43},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 91452879.75},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 95724675.29}]},
  {'groupByObject': [18, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 600080.07},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 600566.02},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 600570.17}]}],
 [{'groupByObject': [19, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 53574267.61},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 62123899.86},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 66932990.51},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 69410137.9},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 75322222.31},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 78293375.1}]},
  {'groupByObject': [19, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1876.13},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 5692.91}]}],
 [{'groupByObject': [1, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 137266088.68},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 172526470.65},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 275326393.73},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 322696509.11},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 324059524.42},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 325645875.06}]},
  {'groupByObject': [1, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 277445.35},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 372528.04},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 664772.09}]}],
 [{'groupByObject': [20, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 72556268.64},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 74724249.21},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 76590852.74},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 80726829.06},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 84500111.96},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 90376239.74}]},
  {'groupByObject': [20, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 14130.35},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 12598.95},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 43396.07}]}],
 [{'groupByObject': [21, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 58051898.93},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 65208953.85},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 67139232.54},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 83282384.73},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 91138789.94},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 94313995.1}]},
  {'groupByObject': [21, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 223069.06},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 222637.89},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 315971.85}]}],
 [{'groupByObject': [22, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 634934996.49},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 663962348.67},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 757904809.77},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 803704469.08},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 835346945.01},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 866348369.61}]},
  {'groupByObject': [22, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 14081.85},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 3141587.37},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 13510281.07},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 51064287.45}]}],
 [{'groupByObject': [23, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 48473880.38},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 60537535.03},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 66649317.9},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 73122569.84},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 77911388.18},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 83961441.95}]},
  {'groupByObject': [23, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 146738.93},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 905541.69},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 999671.6}]}],
 [{'groupByObject': [24, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 54391384.23},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 59136501.79},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 61807394.09},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 63212694.95},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 64559696.02},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 67796025.4}]},
  {'groupByObject': [24, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 219.88},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 219.88},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 6438.46}]}],
 [{'groupByObject': [25, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 44294095.88},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 50238016.37},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 51837673.74},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 54296638.86},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 55051313.49},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 59661263.22}]},
  {'groupByObject': [25, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 2746.65},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 9618.81}]}],
 [{'groupByObject': [26, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 128351822.79},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 140907015.54},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 151298123.36},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 172225711.74},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 179726694.08},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 186147664.31}]},
  {'groupByObject': [26, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 152252.78},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 200701.21}]}],
 [{'groupByObject': [27, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 406215690.39},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 460990745.85},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 534203289.94},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 582759061.27},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 614930717.28},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 645079187.65}]},
  {'groupByObject': [27, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1657.14},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 17153.43},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 25623.65}]}],
 [{'groupByObject': [28, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 14775565.65},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 16558276.48},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 17867248.24},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 19649962.39},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 22199644.77},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 24677836.43}]},
  {'groupByObject': [28, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 1475.09},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1475.76},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 67808.95}]}],
 [{'groupByObject': [29, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 205621112.74},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 238775038.24},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 289940149.44},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 347532516.58},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 366617250.98},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 395409588.5}]},
  {'groupByObject': [29, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 5057.97},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 536870.04},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 885290.5}]}],
 [{'groupByObject': [2, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 19344766.56},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 20096909.58},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 20823407.1},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 21628212.69},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 22654496.57},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 24512312.67}]},
  {'groupByObject': [2, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 67998.33},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 71662.5},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 186559.83}]}],
 [{'groupByObject': [30, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 173430703.81},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 191572508.24},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 232836464.44},

In [8]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [9]:

# change name of the layer - africa-states-borders.shp; northamerica-states-borders.shp

s_df = gpd.read_file(f"{s_d_path}{shp_dic[user_spatial]}")
# s_df["s_id"] = s_df.index
s_df.head()

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Indonesia,2,Sovereign country,Indonesia,Indonesia,Asia,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,Malaysia,2,Sovereign country,Malaysia,Malaysia,Asia,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
2,Cyprus,2,Sovereign country,Cyprus,Cyprus,Asia,Cyprus,"MULTIPOLYGON (((33.78183 34.97622, 33.78094 34..."
3,India,2,Sovereign country,India,India,Asia,India,"MULTIPOLYGON (((77.80035 35.49541, 77.81533 35..."
4,China,1,Sovereignty,China,China,Asia,People's Republic of China,"MULTIPOLYGON (((78.91769 33.38626, 78.91595 33..."

#### Edit the obtained data into desired shape to create a DataFrame

In [10]:
d = {
    "feature": [],
    "source": [],
    "timestamp": [],
    "value": []
}

In [11]:
for region in ns_d:
    for dic1 in region:
        feature, source = dic1["groupByObject"][0], dic1["groupByObject"][1]
        for res in dic1["result"]:
            d["feature"].append(feature)
            d["source"].append(source)
            d["timestamp"].append(res["timestamp"])
            d["value"].append(res["value"])

ns_df = pd.DataFrame(d)
# ns_df

In [12]:
# extract only the year
ns_df["year"] = pd.to_datetime(ns_df["timestamp"]).dt.year

# convert meters to kilometers
ns_df["value_km"] = ns_df["value"] / 1000

In [13]:
ns_df

,feature,source,timestamp,value,year,value_km
0,0,remainder,2018-01-01T00:00:00Z,4.125735e+08,2018,4.125735e+05
1,0,remainder,2019-01-01T00:00:00Z,7.293357e+08,2019,7.293357e+05
2,0,remainder,2020-01-01T00:00:00Z,1.096717e+09,2020,1.096717e+06
3,0,remainder,2021-01-01T00:00:00Z,1.206910e+09,2021,1.206910e+06
4,0,remainder,2022-01-01T00:00:00Z,1.246754e+09,2022,1.246754e+06
...,...,...,...,...,...,...
625,9,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.000000e+00
626,9,source=maxar,2020-01-01T00:00:00Z,0.000000e+00,2020,0.000000e+00
627,9,source=maxar,2021-01-01T00:00:00Z,8.688680e+03,2021,8.688680e+00
628,9,source=maxar,2022-01-01T00:00:00Z,1.986731e+04,2022,1.986731e+01
629,9,source=maxar,2023-01-01T00:00:00Z,4.402973e+04,2023,4.402973e+01

#### Append the names of the regions and numbers to the DataFrame

In [14]:

# replace... geojson-continent-borders, geojson-africa-states; geojson-northamerica-states
geojson_dir = os.path.join(home_dir, f"{geojson_folder_dic[user_spatial]}", "")

geojson_names = []
for (dir_path, dir_names, file_names) in os.walk(geojson_dir):  # give the path
    geojson_names.extend(file_names)
print(geojson_names)
print(os.getcwd())

['0_Indonesia.geojson', '10_Bhutan.geojson', '11_Oman.geojson', '12_Uzbekistan.geojson', '13_Kazakhstan.geojson', '14_Tajikistan.geojson', '15_Mongolia.geojson', '16_Russia.geojson', '17_Vietnam.geojson', '18_Cambodia.geojson', '19_United Arab Emirates.geojson', '1_Malaysia.geojson', '20_Georgia.geojson', '21_Azerbaijan.geojson', '22_Turkey.geojson', '23_Laos.geojson', '24_Kyrgyzstan.geojson', '25_Armenia.geojson', '26_Iraq.geojson', '27_Iran.geojson', '28_Qatar.geojson', '29_Saudi Arabia.geojson', '2_Cyprus.geojson', '30_Pakistan.geojson', '31_Thailand.geojson', '32_Kuwait.geojson', '33_Timor-Leste.geojson', '34_Brunei.geojson', '35_Myanmar.geojson', '36_Bangladesh.geojson', '37_Afghanistan.geojson', '38_Turkmenistan.geojson', '39_Jordan.geojson', '3_India.geojson', '40_Nepal.geojson', '41_Yemen.geojson', '42_N. Cyprus.geojson', '43_Cyprus U.N. Buffer Zone.geojson', '44_Siachen Glacier.geojson', '45_Philippines.geojson', '46_Sri Lanka.geojson', '47_Taiwan.geojson', '48_Japan.geojson', '49_Singapore.geojson', '4_China.geojson', '50_Bahrain.geojson', '51_Spratly Is..geojson', '52_Scarborough Reef.geojson', '5_Israel.geojson', '6_Lebanon.geojson', '7_Syria.geojson', '8_South Korea.geojson', '9_North Korea.geojson']
c:\Users\milan\OneDrive - MUNI\VŠ\PhD\Zahraniční stáž\Work\HeiGIT_notebooks\analysis\ai-assisted-osm-mapping-stats

In [15]:
geojson_names_2 = geojson_names

id_name_dic = {int(re.search(r'^\d+', k)[0]): re.search(r'\_.+\.', v)[0][1:-1]
                for k, v in zip(geojson_names, geojson_names_2)}
id_name_ser = pd.Series(id_name_dic)
id_name_df = pd.DataFrame(id_name_ser, columns=["name"])
id_name_df = id_name_df.reset_index().rename(columns={"index": "id"})
id_name_df["id"] = id_name_df["id"].astype(int)
# id_name_df

In [16]:
id_name_df

    id                     name
0    0                Indonesia
1   10                   Bhutan
2   11                     Oman
3   12               Uzbekistan
4   13               Kazakhstan
5   14               Tajikistan
6   15                 Mongolia
7   16                   Russia
8   17                  Vietnam
9   18                 Cambodia
10  19     United Arab Emirates
11   1                 Malaysia
12  20                  Georgia
13  21               Azerbaijan
14  22                   Turkey
15  23                     Laos
16  24               Kyrgyzstan
17  25                  Armenia
18  26                     Iraq
19  27                     Iran
20  28                    Qatar
21  29             Saudi Arabia
22   2                   Cyprus
23  30                 Pakistan
24  31                 Thailand
25  32                   Kuwait
26  33              Timor-Leste
27  34                   Brunei
28  35                  Myanmar
29  36               Bangladesh
30  37              Afghanistan
31  38             Turkmenistan
32  39                   Jordan
33   3                    India
34  40                    Nepal
35  41                    Yemen
36  42                N. Cyprus
37  43  Cyprus U.N. Buffer Zone
38  44          Siachen Glacier
39  45              Philippines
40  46                Sri Lanka
41  47                   Taiwan
42  48                    Japan
43  49                Singapore
44   4                    China
45  50                  Bahrain
46  51              Spratly Is.
47  52         Scarborough Reef
48   5                   Israel
49   6                  Lebanon
50   7                    Syria
51   8              South Korea
52   9              North Korea

In [17]:
# merge df with region names based on ids
ns_df = ns_df.merge(id_name_df, how="left", left_on="feature",
               right_on="id")
ns_df.head(20)

,feature,source,timestamp,value,year,value_km,id,name
0,0,remainder,2018-01-01T00:00:00Z,4.125735e+08,2018,4.125735e+05,0,Indonesia
1,0,remainder,2019-01-01T00:00:00Z,7.293357e+08,2019,7.293357e+05,0,Indonesia
2,0,remainder,2020-01-01T00:00:00Z,1.096717e+09,2020,1.096717e+06,0,Indonesia
3,0,remainder,2021-01-01T00:00:00Z,1.206910e+09,2021,1.206910e+06,0,Indonesia
4,0,remainder,2022-01-01T00:00:00Z,1.246754e+09,2022,1.246754e+06,0,Indonesia
5,0,remainder,2023-01-01T00:00:00Z,1.255846e+09,2023,1.255846e+06,0,Indonesia
6,0,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.000000e+00,0,Indonesia
7,0,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.000000e+00,0,Indonesia
8,0,source=maxar,2020-01-01T00:00:00Z,8.588360e+03,2020,8.588360e+00,0,Indonesia
9,0,source=maxar,2021-01-01T00:00:00Z,3.416454e+04,2021,3.416454e+01,0,Indonesia
10,0,source=maxar,2022-01-01T00:00:00Z,2.673150e+06,2022,2.673150e+03,0,Indonesia
11,0,source=maxar,2023-01-01T00:00:00Z,3.060946e+06,2023,3.060946e+03,0,Indonesia
12,10,remainder,2018-01-01T00:00:00Z,9.869636e+06,2018,9.869636e+03,10,Bhutan
13,10,remainder,2019-01-01T00:00:00Z,1.086915e+07,2019,1.086915e+04,10,Bhutan
14,10,remainder,2020-01-01T00:00:00Z,1.187202e+07,2020,1.187202e+04,10,Bhutan
15,10,remainder,2021-01-01T00:00:00Z,1.222454e+07,2021,1.222454e+04,10,Bhutan
16,10,remainder,2022-01-01T00:00:00Z,2.416333e+07,2022,2.416333e+04,10,Bhutan
17,10,remainder,2023-01-01T00:00:00Z,2.530533e+07,2023,2.530533e+04,10,Bhutan
18,10,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.000000e+00,10,Bhutan
19,10,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.000000e+00,10,Bhutan

In [18]:
ns_df.loc[ns_df.isna().any(axis=1),:]

Empty DataFrame
Columns: [feature, source, timestamp, value, year, value_km, id, name]
Index: []

In [19]:
# ns_df.sort_values(by=["value"], ascending=False, inplace=False).head(20)

#### Data preparation and filtering

In [20]:
# get the number of AI Microsoft (source=microsoft/BuildingFootprints) / manually mapped (remainder) buildings for every year
grouped = ns_df.groupby(["name", "year"])["value"].sum()
# grouped

In [21]:
# merge the DataFrame with groupBy DataFrame and compute the percentage
merged_data = ns_df.merge(grouped, on=["name", 'year'], how='left', )
merged_data = merged_data.rename(columns={"value_x":"len_of_roads", "value_y":"total_roads"})
merged_data["percentage"] = (merged_data["len_of_roads"] / merged_data["total_roads"]) * 100
# merged_data.head(10)

In [22]:
# percentage verification
merged_data.groupby(["name", "year"])["percentage"].sum()

name         year
Afghanistan  2018    100.0
             2019    100.0
             2020    100.0
             2021    100.0
             2022    100.0
                     ...
Yemen        2019    100.0
             2020    100.0
             2021    100.0
             2022    100.0
             2023    100.0
Name: percentage, Length: 318, dtype: float64

In [23]:
ns_df_rem = merged_data.loc[merged_data["source"] == "remainder", :]
ns_df_ai = merged_data.loc[merged_data["source"] == "source=maxar", :]

In [24]:
ns_df_rem_sel = ns_df_rem.groupby("name")[["len_of_roads", "year", "percentage", "total_roads"]].last().reset_index()
ns_df_ai_sel = ns_df_ai.groupby("name")[["len_of_roads", "year", "percentage", "total_roads"]].last().reset_index()
ns_df_ai_sel.head()

          name  len_of_roads  year  percentage   total_roads
0  Afghanistan   16340195.25  2023    8.026059  2.035893e+08
1      Armenia       9618.81  2023    0.016120  5.967088e+07
2   Azerbaijan     315971.85  2023    0.333903  9.462997e+07
3      Bahrain        322.18  2023    0.005814  5.541255e+06
4   Bangladesh    5615375.52  2023    2.931745  1.915370e+08

In [25]:
ns_df_rem_sel.head()

          name  len_of_roads  year  percentage   total_roads
0  Afghanistan  1.872491e+08  2023   91.973941  2.035893e+08
1      Armenia  5.966126e+07  2023   99.983880  5.967088e+07
2   Azerbaijan  9.431400e+07  2023   99.666097  9.462997e+07
3      Bahrain  5.540933e+06  2023   99.994186  5.541255e+06
4   Bangladesh  1.859216e+08  2023   97.068255  1.915370e+08

In [26]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [27]:
s_df.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Indonesia,2,Sovereign country,Indonesia,Indonesia,Asia,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,Malaysia,2,Sovereign country,Malaysia,Malaysia,Asia,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."

In [28]:
merged_d_rem = s_df.merge(ns_df_rem_sel, how="left",
                          left_on="NAME", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_ai = s_df.merge(ns_df_ai_sel, how="left",
                         left_on="NAME", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_rem.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
0,Indonesia,2,Sovereign country,Indonesia,Indonesia,Asia,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4...",Indonesia,1.255846e+09,2023.0,99.756857,1.258907e+09
1,Malaysia,2,Sovereign country,Malaysia,Malaysia,Asia,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4...",Malaysia,3.256459e+08,2023.0,99.796276,3.263106e+08

In [29]:
# verify the merge is successful
merged_d_rem.loc[merged_d_rem.isna().any(axis=1),:]

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
52,Scarborough Reef,2,Indeterminate,Scarborough Reef,Scarborough Reef,Asia,Scarborough Shoal,"POLYGON ((117.75389 15.15437, 117.75569 15.151...",NaN,NaN,NaN,NaN,NaN

In [30]:
merged_d_ai.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
0,Indonesia,2,Sovereign country,Indonesia,Indonesia,Asia,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4...",Indonesia,3060945.91,2023,0.243143,1.258907e+09
1,Malaysia,2,Sovereign country,Malaysia,Malaysia,Asia,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4...",Malaysia,664772.09,2023,0.203724,3.263106e+08

In [31]:
print(merged_d_rem.columns)
print(merged_d_ai.columns)

Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'len_of_roads', 'year', 'percentage',
       'total_roads'],
      dtype='object')
Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'len_of_roads', 'year', 'percentage',
       'total_roads'],
      dtype='object')

#### Export the data into layers

In [32]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [35]:
# change name of the layer
merged_d_rem.to_file(f"maps/shp/mm_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

C:\Users\milan\AppData\Local\Temp\ipykernel_27180\3317112753.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_d_rem.to_file(f"maps/shp/mm_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

In [36]:
# change name of the layer
merged_d_ai.to_file(f"maps/shp/ai_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

C:\Users\milan\AppData\Local\Temp\ipykernel_27180\2868847148.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_d_ai.to_file(f"maps/shp/ai_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')