In [1]:
import os
import json
import pandas as pd
import geopandas as gpd
import re
import numpy as np

### Definitions

In [2]:
# dictionary definitions

json_data_dic = {
            0: "roads_continent_data_18-23_ai.json",
            1: "roads_africa_states_18-23_ai.json",
            2: "roads_northamerica_states_18-23_ai.json",
            3: "roads_europe_states_18-23_ai.json",
            4: "roads_asia_states_18-23_ai.json",
            }

shp_dic = {
            0: "contionents-borders.shp",
            1: "africa-states-borders.shp",
            2: "northamerica-states-borders.shp",
            3: "europe-states-borders.shp",
            4: "asia-states-borders.shp",
                      }

geojson_folder_dic = {
                    0: "geojson-continent-states",
                    1: "geojson-africa-states",
                    2: "geojson-northamerica-states",
                    3: "geojson-europe-states",
                    4: "geojson-asia-states",
                      }

In [3]:
# user input definition - json data

while True:
    try:
        user_json_spec = int(input("Which data do you want to join?\
                            Enter a number:\
                            0 for roads by continents (2018–2023),\
                            1 for roads by Africa states (2018–2023),\
                            2 for roads by North-Central America states (2018–2023),\
                            3 for roads by Europe states (2018–2023),\
                            4 for roads by Asia states (2018–2023),\
                                :"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_json_spec not in range(len(json_data_dic)):
        print(f"Please enter one of these numbers: {json_data_dic.keys()}.")
        continue
    break

In [4]:
# user input definition - spatial data to conect

while True:
    try:
        user_spatial = int(input("Which data do you want to plot?\
                            Enter 0 for stats by continents (2018–2023),\
                            1 for stats by Africa states (2018–2023),\
                            2 for stats by North-Central America states (2018–2023),\
                            3 for stats by Europe states (2018–2023),\
                            4 for stats by Asia states (2018–2023):"
                                ))
    except ValueError:
        print("Please enter a number.")
        continue
    if user_spatial not in range(len(shp_dic)):
        print(f"Please enter one of these numbers: {shp_dic.keys()}.")
        continue
    break

#### Read the downloaded/nonspatial and spatial data

In [5]:

os.chdir('..')
home_dir = os.getcwd()
ns_d_path = os.path.join(home_dir, "downloaded-data", "")
s_d_path = os.path.join(home_dir, "shp", "")

In [6]:
# replace... blds_continents_data_18-23_ai.json; blds_africa_states_18-23_ai.json; blds_northamerica_states_18-23_ai.json
with open(f"{ns_d_path}{json_data_dic[user_json_spec]}", "r") as f:
    ns_d = json.load(f)
# ns_d

In [7]:
ns_d

[[{'groupByObject': [0, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 180487646.72},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 229330580.6},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 241543940.76},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 260468976.28},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 286336593.29},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 300970970.6}]},
  {'groupByObject': [0, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 6176933.08},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 10896248.26},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 12435673.65}]}],
 [{'groupByObject': [10, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 257777598.24},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 328790260.17},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 369767365.56},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 427768727.31},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 453165151.62},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 470162163.96}]},
  {'groupByObject': [10, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 362440.52},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 10485323.99},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 10609373.93}]}],
 [{'groupByObject': [11, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 114972990.11},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 121194712.11},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 128591607.91},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 133608406.36},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 141101088.74},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 143334201.82}]},
  {'groupByObject': [11, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 2392.51},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 9153.77},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 9153.77}]}],
 [{'groupByObject': [12, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 425347746.21},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 452229600.27},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 540645267.66},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 722524920.19},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 753150264.17},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 793083784.48}]},
  {'groupByObject': [12, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 662546.06},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 826416.69},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 869679.35}]}],
 [{'groupByObject': [13, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 79028586.5},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 88702415.56},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 120542321.74},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 124811261.18},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 128880357.45},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 143189102.91}]},
  {'groupByObject': [13, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 62593.83},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 94184.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1327983.89}]}],
 [{'groupByObject': [14, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 79158805.19},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 87351093.7},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 147933065.98},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 153859601.93},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 158925328.94},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 161706700.99}]},
  {'groupByObject': [14, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 146966.53},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 371913.04}]}],
 [{'groupByObject': [15, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 90186308.58},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 106088378.64},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 191181446.55},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 224897630.39},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 277881269.49},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 289750651.47}]},
  {'groupByObject': [15, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 5822.29},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 2121685.34},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 3788388.74}]}],
 [{'groupByObject': [16, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 53915832.68},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 54344952.11},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 56670766.13},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 57536032.74},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 58561914.5},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 59335095.14}]},
  {'groupByObject': [16, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 31003.76},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 560044.06},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 602095.93}]}],
 [{'groupByObject': [17, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 115270609.52},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 133621984.05},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 158296973.77},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 161226427.08},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 166597141.5},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 170118960.82}]},
  {'groupByObject': [17, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 261591.21},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 376069.91},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 610933.21}]}],
 [{'groupByObject': [18, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 32593327.02},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 33221796.58},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 34995234.15},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 35732893.39},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 36583744.16},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 37172426.91}]},
  {'groupByObject': [18, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 2926.07},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 88685.32},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 211300.78}]}],
 [{'groupByObject': [19, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 46370392.83},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 46754018.86},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 53318390.24},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 76950793.38},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 87366080.57},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 93746348.99}]},
  {'groupByObject': [19, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 4990.47},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 59713.6},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 97413.16}]}],
 [{'groupByObject': [1, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 65263248.48},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 68286276.88},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 70332878.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 77210467.44},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 93586444.35},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 96821427.29}]},
  {'groupByObject': [1, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 5143089.14},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 5159686.36}]}],
 [{'groupByObject': [20, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 111949544.99},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 148293988.13},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 153576098.46},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 180959840.65},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 235863413.99},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 270559763.04}]},
  {'groupByObject': [20, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 681396.68},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1106926.62},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 5197121.85}]}],
 [{'groupByObject': [21, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 3436255.45},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 3695886.53},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 4122180.39},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 4478325.97},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 4678365.98},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 4862353.69}]},
  {'groupByObject': [21, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 1457.51}]}],
 [{'groupByObject': [22, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 9612303.21},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 13641123.79},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 13979364.2},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 16236814.25},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 17114331.73},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 18375675.89}]},
  {'groupByObject': [22, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 49145.94},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 49145.94},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 49145.93}]}],
 [{'groupByObject': [23, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 84479148.99},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 99305105.23},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 116227021.92},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 119857701.06},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 123519064.08},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 124833187.42}]},
  {'groupByObject': [23, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 57795.76},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 1797650.61},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 5298079.09}]}],
 [{'groupByObject': [24, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 165542167.35},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 204848556.81},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 261689455.48},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 331238523.03},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 363553037.71},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 383743372.11}]},
  {'groupByObject': [24, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 169261.92},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 374812.24},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 708471.98}]}],
 [{'groupByObject': [25, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 80698808.67},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 92728822.93},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 94096540.32},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 105298315.1},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 131391607.1},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 150844309.11}]},
  {'groupByObject': [25, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 38381.33},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 2951419.21},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 10962565.91}]}],
 [{'groupByObject': [26, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 528101580.3},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 669977756.28},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 689328794.34},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 717362938.12},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 751420456.65},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 777446641.5}]},
  {'groupByObject': [26, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 15.19},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 651106.52},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 4281483.69},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 11510745.25}]}],
 [{'groupByObject': [27, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 50845656.84},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 60307800.46},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 61165581.48},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 63077543.63},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 65043033.18},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 65680961.17}]},
  {'groupByObject': [27, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 37861.59},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 213710.03},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 423180.59}]}],
 [{'groupByObject': [28, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 95934491.31},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 138951356.41},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 162456456.61},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 164645843.98},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 172404366.32},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 182224528.75}]},
  {'groupByObject': [28, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 200505.03},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 589916.04}]}],
 [{'groupByObject': [29, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 97223238.73},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 124019266.92},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 126684451.17},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 147584322.92},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 151303182.92},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 152605909.01}]},
  {'groupByObject': [29, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 23245.81},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 219927.37},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 699073.54}]}],
 [{'groupByObject': [2, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 166910245.24},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 174362690.24},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 217353492.24},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 256681251.34},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 279101107.45},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 324218977.06}]},
  {'groupByObject': [2, 'source=maxar'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 0.0},
    {'timestamp': '2021-01-01T00:00:00Z', 'value': 41516.63},
    {'timestamp': '2022-01-01T00:00:00Z', 'value': 617135.5},
    {'timestamp': '2023-01-01T00:00:00Z', 'value': 629233.64}]}],
 [{'groupByObject': [30, 'remainder'],
   'result': [{'timestamp': '2018-01-01T00:00:00Z', 'value': 142648220.76},
    {'timestamp': '2019-01-01T00:00:00Z', 'value': 158428276.04},
    {'timestamp': '2020-01-01T00:00:00Z', 'value': 226387215.91},

In [8]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [9]:

# change name of the layer - africa-states-borders.shp; northamerica-states-borders.shp

s_df = gpd.read_file(f"{s_d_path}{shp_dic[user_spatial]}")
# s_df["s_id"] = s_df.index
s_df.head()

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ..."
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ..."
2,Somalia,2,Sovereign country,Somalia,Somalia,Africa,Somalia,"POLYGON ((46.46696 6.53829, 46.48805 6.55864, ..."
3,Kenya,2,Sovereign country,Kenya,Kenya,Africa,Kenya,"MULTIPOLYGON (((35.70585 4.61945, 35.70594 4.6..."
4,Malawi,2,Sovereign country,Malawi,Malawi,Africa,Malawi,"MULTIPOLYGON (((34.96461 -11.57356, 34.65125 -..."

#### Edit the obtained data into desired shape to create a DataFrame

In [10]:
d = {
    "feature": [],
    "source": [],
    "timestamp": [],
    "value": []
}

In [11]:
for region in ns_d:
    for dic1 in region:
        feature, source = dic1["groupByObject"][0], dic1["groupByObject"][1]
        for res in dic1["result"]:
            d["feature"].append(feature)
            d["source"].append(source)
            d["timestamp"].append(res["timestamp"])
            d["value"].append(res["value"])

ns_df = pd.DataFrame(d)
# ns_df

In [12]:
# extract only the year
ns_df["year"] = pd.to_datetime(ns_df["timestamp"]).dt.year

# convert meters to kilometers
ns_df["value_km"] = ns_df["value"] / 1000

In [13]:
ns_df

,feature,source,timestamp,value,year,value_km
0,0,remainder,2018-01-01T00:00:00Z,1.804876e+08,2018,180487.64672
1,0,remainder,2019-01-01T00:00:00Z,2.293306e+08,2019,229330.58060
2,0,remainder,2020-01-01T00:00:00Z,2.415439e+08,2020,241543.94076
3,0,remainder,2021-01-01T00:00:00Z,2.604690e+08,2021,260468.97628
4,0,remainder,2022-01-01T00:00:00Z,2.863366e+08,2022,286336.59329
...,...,...,...,...,...,...
655,9,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.00000
656,9,source=maxar,2020-01-01T00:00:00Z,0.000000e+00,2020,0.00000
657,9,source=maxar,2021-01-01T00:00:00Z,0.000000e+00,2021,0.00000
658,9,source=maxar,2022-01-01T00:00:00Z,7.901474e+04,2022,79.01474
659,9,source=maxar,2023-01-01T00:00:00Z,4.534950e+05,2023,453.49495

#### Append the names of the regions and numbers to the DataFrame

In [14]:

# replace... geojson-continent-borders, geojson-africa-states; geojson-northamerica-states
geojson_dir = os.path.join(home_dir, f"{geojson_folder_dic[user_spatial]}", "")

geojson_names = []
for (dir_path, dir_names, file_names) in os.walk(geojson_dir):  # give the path
    geojson_names.extend(file_names)
print(geojson_names)
print(os.getcwd())

['0_Ethiopia.geojson', '10_Democratic Republic of the Congo.geojson', '11_Namibia.geojson', '12_South Africa.geojson', '13_Libya.geojson', '14_Tunisia.geojson', '15_Zambia.geojson', '16_Sierra Leone.geojson', '17_Guinea.geojson', '18_Liberia.geojson', '19_Central African Republic.geojson', '1_South Sudan.geojson', '20_Sudan.geojson', '21_Djibouti.geojson', '22_Eritrea.geojson', '23_Ivory Coast.geojson', '24_Mali.geojson', '25_Senegal.geojson', '26_Nigeria.geojson', '27_Benin.geojson', '28_Angola.geojson', '29_Botswana.geojson', '2_Somalia.geojson', '30_Zimbabwe.geojson', '31_Chad.geojson', '32_Algeria.geojson', '33_Mozambique.geojson', '34_Eswatini.geojson', '35_Burundi.geojson', '36_Rwanda.geojson', '37_Uganda.geojson', '38_Lesotho.geojson', '39_Cameroon.geojson', '3_Kenya.geojson', '40_Gabon.geojson', '41_Niger.geojson', '42_Burkina Faso.geojson', '43_Togo.geojson', '44_Ghana.geojson', '45_Guinea-Bissau.geojson', '46_Egypt.geojson', '47_Mauritania.geojson', '48_Equatorial Guinea.geojson', '49_The Gambia.geojson', '4_Malawi.geojson', '50_Bir Tawil.geojson', '51_Madagascar.geojson', '52_Comoros.geojson', '53_São Tomé and Príncipe.geojson', '54_Cape Verde.geojson', '5_Tanzania.geojson', '6_Somaliland.geojson', '7_Morocco.geojson', '8_Western Sahara.geojson', '9_Republic of the Congo.geojson']
c:\Users\milan\OneDrive - MUNI\VŠ\PhD\Zahraniční stáž\Work\HeiGIT_notebooks\analysis\ai-assisted-osm-mapping-stats

In [15]:
geojson_names_2 = geojson_names

id_name_dic = {int(re.search(r'^\d+', k)[0]): re.search(r'\_.+\.', v)[0][1:-1]
                for k, v in zip(geojson_names, geojson_names_2)}
id_name_ser = pd.Series(id_name_dic)
id_name_df = pd.DataFrame(id_name_ser, columns=["name"])
id_name_df = id_name_df.reset_index().rename(columns={"index": "id"})
id_name_df["id"] = id_name_df["id"].astype(int)
# id_name_df

In [16]:
id_name_df

    id                              name
0    0                          Ethiopia
1   10  Democratic Republic of the Congo
2   11                           Namibia
3   12                      South Africa
4   13                             Libya
5   14                           Tunisia
6   15                            Zambia
7   16                      Sierra Leone
8   17                            Guinea
9   18                           Liberia
10  19          Central African Republic
11   1                       South Sudan
12  20                             Sudan
13  21                          Djibouti
14  22                           Eritrea
15  23                       Ivory Coast
16  24                              Mali
17  25                           Senegal
18  26                           Nigeria
19  27                             Benin
20  28                            Angola
21  29                          Botswana
22   2                           Somalia
23  30                          Zimbabwe
24  31                              Chad
25  32                           Algeria
26  33                        Mozambique
27  34                          Eswatini
28  35                           Burundi
29  36                            Rwanda
30  37                            Uganda
31  38                           Lesotho
32  39                          Cameroon
33   3                             Kenya
34  40                             Gabon
35  41                             Niger
36  42                      Burkina Faso
37  43                              Togo
38  44                             Ghana
39  45                     Guinea-Bissau
40  46                             Egypt
41  47                        Mauritania
42  48                 Equatorial Guinea
43  49                        The Gambia
44   4                            Malawi
45  50                         Bir Tawil
46  51                        Madagascar
47  52                           Comoros
48  53             São Tomé and Príncipe
49  54                        Cape Verde
50   5                          Tanzania
51   6                        Somaliland
52   7                           Morocco
53   8                    Western Sahara
54   9             Republic of the Congo

In [17]:
# merge df with region names based on ids
ns_df = ns_df.merge(id_name_df, how="left", left_on="feature",
               right_on="id")
ns_df.head(20)

,feature,source,timestamp,value,year,value_km,id,name
0,0,remainder,2018-01-01T00:00:00Z,1.804876e+08,2018,180487.64672,0.0,Ethiopia
1,0,remainder,2019-01-01T00:00:00Z,2.293306e+08,2019,229330.58060,0.0,Ethiopia
2,0,remainder,2020-01-01T00:00:00Z,2.415439e+08,2020,241543.94076,0.0,Ethiopia
3,0,remainder,2021-01-01T00:00:00Z,2.604690e+08,2021,260468.97628,0.0,Ethiopia
4,0,remainder,2022-01-01T00:00:00Z,2.863366e+08,2022,286336.59329,0.0,Ethiopia
5,0,remainder,2023-01-01T00:00:00Z,3.009710e+08,2023,300970.97060,0.0,Ethiopia
6,0,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.00000,0.0,Ethiopia
7,0,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.00000,0.0,Ethiopia
8,0,source=maxar,2020-01-01T00:00:00Z,0.000000e+00,2020,0.00000,0.0,Ethiopia
9,0,source=maxar,2021-01-01T00:00:00Z,6.176933e+06,2021,6176.93308,0.0,Ethiopia
10,0,source=maxar,2022-01-01T00:00:00Z,1.089625e+07,2022,10896.24826,0.0,Ethiopia
11,0,source=maxar,2023-01-01T00:00:00Z,1.243567e+07,2023,12435.67365,0.0,Ethiopia
12,10,remainder,2018-01-01T00:00:00Z,2.577776e+08,2018,257777.59824,10.0,Democratic Republic of the Congo
13,10,remainder,2019-01-01T00:00:00Z,3.287903e+08,2019,328790.26017,10.0,Democratic Republic of the Congo
14,10,remainder,2020-01-01T00:00:00Z,3.697674e+08,2020,369767.36556,10.0,Democratic Republic of the Congo
15,10,remainder,2021-01-01T00:00:00Z,4.277687e+08,2021,427768.72731,10.0,Democratic Republic of the Congo
16,10,remainder,2022-01-01T00:00:00Z,4.531652e+08,2022,453165.15162,10.0,Democratic Republic of the Congo
17,10,remainder,2023-01-01T00:00:00Z,4.701622e+08,2023,470162.16396,10.0,Democratic Republic of the Congo
18,10,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.00000,10.0,Democratic Republic of the Congo
19,10,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.00000,10.0,Democratic Republic of the Congo

In [18]:
ns_df.loc[ns_df.isna().any(axis=1),:]

,feature,source,timestamp,value,year,value_km,id,name
480,feature1,remainder,2018-01-01T00:00:00Z,1.500690e+08,2018,150068.99739,NaN,NaN
481,feature1,remainder,2019-01-01T00:00:00Z,1.666002e+08,2019,166600.17954,NaN,NaN
482,feature1,remainder,2020-01-01T00:00:00Z,3.086298e+08,2020,308629.78029,NaN,NaN
483,feature1,remainder,2021-01-01T00:00:00Z,3.664487e+08,2021,366448.74572,NaN,NaN
484,feature1,remainder,2022-01-01T00:00:00Z,3.833306e+08,2022,383330.62688,NaN,NaN
485,feature1,remainder,2023-01-01T00:00:00Z,3.853923e+08,2023,385392.33478,NaN,NaN
486,feature1,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.00000,NaN,NaN
487,feature1,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.00000,NaN,NaN
488,feature1,source=maxar,2020-01-01T00:00:00Z,0.000000e+00,2020,0.00000,NaN,NaN
489,feature1,source=maxar,2021-01-01T00:00:00Z,4.887210e+03,2021,4.88721,NaN,NaN
490,feature1,source=maxar,2022-01-01T00:00:00Z,1.847002e+04,2022,18.47002,NaN,NaN
491,feature1,source=maxar,2023-01-01T00:00:00Z,3.974739e+05,2023,397.47393,NaN,NaN

In [19]:
# ns_df.sort_values(by=["value"], ascending=False, inplace=False).head(20)

#### Data preparation and filtering

In [20]:
# get the number of AI Microsoft (source=microsoft/BuildingFootprints) / manually mapped (remainder) buildings for every year
grouped = ns_df.groupby(["name", "year"])["value"].sum()
# grouped

In [21]:
# merge the DataFrame with groupBy DataFrame and compute the percentage
merged_data = ns_df.merge(grouped, on=["name", 'year'], how='left', )
merged_data = merged_data.rename(columns={"value_x":"len_of_roads", "value_y":"total_roads"})
merged_data["percentage"] = (merged_data["len_of_roads"] / merged_data["total_roads"]) * 100
merged_data.head(10)

,feature,source,timestamp,len_of_roads,year,value_km,id,name,total_roads,percentage
0,0,remainder,2018-01-01T00:00:00Z,1.804876e+08,2018,180487.64672,0.0,Ethiopia,1.804876e+08,100.000000
1,0,remainder,2019-01-01T00:00:00Z,2.293306e+08,2019,229330.58060,0.0,Ethiopia,2.293306e+08,100.000000
2,0,remainder,2020-01-01T00:00:00Z,2.415439e+08,2020,241543.94076,0.0,Ethiopia,2.415439e+08,100.000000
3,0,remainder,2021-01-01T00:00:00Z,2.604690e+08,2021,260468.97628,0.0,Ethiopia,2.666459e+08,97.683470
4,0,remainder,2022-01-01T00:00:00Z,2.863366e+08,2022,286336.59329,0.0,Ethiopia,2.972328e+08,96.334104
5,0,remainder,2023-01-01T00:00:00Z,3.009710e+08,2023,300970.97060,0.0,Ethiopia,3.134066e+08,96.032096
6,0,source=maxar,2018-01-01T00:00:00Z,0.000000e+00,2018,0.00000,0.0,Ethiopia,1.804876e+08,0.000000
7,0,source=maxar,2019-01-01T00:00:00Z,0.000000e+00,2019,0.00000,0.0,Ethiopia,2.293306e+08,0.000000
8,0,source=maxar,2020-01-01T00:00:00Z,0.000000e+00,2020,0.00000,0.0,Ethiopia,2.415439e+08,0.000000
9,0,source=maxar,2021-01-01T00:00:00Z,6.176933e+06,2021,6176.93308,0.0,Ethiopia,2.666459e+08,2.316530

In [22]:
# percentage verification
merged_data.groupby(["name", "year"])["percentage"].sum()

name      year
Algeria   2018    100.0
          2019    100.0
          2020    100.0
          2021    100.0
          2022    100.0
                  ...
Zimbabwe  2019    100.0
          2020    100.0
          2021    100.0
          2022    100.0
          2023    100.0
Name: percentage, Length: 324, dtype: float64

In [23]:
ns_df_rem = merged_data.loc[merged_data["source"] == "remainder", :]
ns_df_ai = merged_data.loc[merged_data["source"] == "source=maxar", :]

In [24]:
ns_df_rem_sel = ns_df_rem.groupby("name")[["len_of_roads", "year", "percentage", "total_roads"]].last().reset_index()
ns_df_ai_sel = ns_df_ai.groupby("name")[["len_of_roads", "year", "percentage", "total_roads"]].last().reset_index()
ns_df_ai_sel.head()

        name  len_of_roads  year  percentage   total_roads
0    Algeria    1580443.38  2023    0.533287  2.963587e+08
1     Angola     589916.04  2023    0.322686  1.828144e+08
2      Benin     423180.59  2023    0.640173  6.610414e+07
3  Bir Tawil          0.00  2023    0.000000  4.996391e+05
4   Botswana     699073.54  2023    0.456002  1.533050e+08

In [25]:
ns_df_rem_sel.head()

        name  len_of_roads  year  percentage   total_roads
0    Algeria  2.947782e+08  2023   99.466713  2.963587e+08
1     Angola  1.822245e+08  2023   99.677314  1.828144e+08
2      Benin  6.568096e+07  2023   99.359827  6.610414e+07
3  Bir Tawil  4.996391e+05  2023  100.000000  4.996391e+05
4   Botswana  1.526059e+08  2023   99.543998  1.533050e+08

In [26]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [27]:
s_df.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ..."
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ..."

In [28]:
merged_d_rem = s_df.merge(ns_df_rem_sel, how="left",
                          left_on="NAME_EN", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_ai = s_df.merge(ns_df_ai_sel, how="left",
                         left_on="NAME_EN", right_on="name").rename(columns={"name_y": "added_name"})  # change left_on
merged_d_rem.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ...",Ethiopia,3.009710e+08,2023.0,96.032096,3.134066e+08
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ...",South Sudan,9.682143e+07,2023.0,94.940547,1.019811e+08

In [29]:
# verify the merge is successful
merged_d_rem.loc[merged_d_rem.isna().any(axis=1),:]

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
46,Egypt,2,Sovereign country,Egypt,Egypt,Africa,Egypt,"MULTIPOLYGON (((34.24835 31.21145, 34.25861 31...",NaN,NaN,NaN,NaN,NaN

In [30]:
merged_d_ai.head(2)

,SOVEREIGNT,LEVEL,TYPE,ADMIN,NAME,CONTINENT,NAME_EN,geometry,name,len_of_roads,year,percentage,total_roads
0,Ethiopia,2,Sovereign country,Ethiopia,Ethiopia,Africa,Ethiopia,"POLYGON ((34.07070 9.45459, 34.06689 9.53118, ...",Ethiopia,12435673.65,2023.0,3.967904,3.134066e+08
1,South Sudan,2,Sovereign country,South Sudan,S. Sudan,Africa,South Sudan,"POLYGON ((35.92084 4.61933, 35.85654 4.61960, ...",South Sudan,5159686.36,2023.0,5.059453,1.019811e+08

In [31]:
print(merged_d_rem.columns)
print(merged_d_ai.columns)

Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'len_of_roads', 'year', 'percentage',
       'total_roads'],
      dtype='object')
Index(['SOVEREIGNT', 'LEVEL', 'TYPE', 'ADMIN', 'NAME', 'CONTINENT', 'NAME_EN',
       'geometry', 'name', 'len_of_roads', 'year', 'percentage',
       'total_roads'],
      dtype='object')

#### Export the data into layers

In [32]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats'

In [35]:
# change name of the layer
# merged_d_rem.to_file(f"maps/shp/mm_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

C:\Users\milan\AppData\Local\Temp\ipykernel_8936\3317112753.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_d_rem.to_file(f"maps/shp/mm_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

In [36]:
# change name of the layer
# merged_d_ai.to_file(f"maps/shp/ai_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')

C:\Users\milan\AppData\Local\Temp\ipykernel_8936\2868847148.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_d_ai.to_file(f"maps/shp/ai_roads_{geojson_folder_dic[user_json_spec][8:]}_18-21.shp", driver='ESRI Shapefile')